{% extends "base_private.html.twig" %}
{% set pageTitle = "Clients" %}
{% block title %}Accounts{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            {% include './components/search_clients.html.twig' %}
        </div>

        <div class="row">
            <div class="col-md-6">
                {% if accounts is not empty %}
                    {% include './components/clients_list.html.twig' %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
