{% extends "base_private.html.twig" %}
{% set pageTitle = client.getFamilyName | e %}
{% block title %}Client{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            {% include './components/clients_list.html.twig' %}
        </div>
        <div class="col-xs-12">
            <div class="row">
                <div class="col-sm-4">
                    <h3>Students in this Client</h3>
                    {% include './components/students_list.html.twig' %}
                    {% include './components/add_student.html.twig' %}
                </div>

                <div class="col-sm-4">
                    <h3>Services Last Month</h3>
                    {% include './components/students_service_list.html.twig' %}
                </div>

                <div class="col-sm-4">
                    {% include './components/add_note_client.html.twig' %}
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            {% include './components/note_history.html.twig' %}
        </div>
    </div>
{% endblock %}
