{% extends "base_public.html.twig" %}
{% block title %}Create Owner Account{% endblock %}

{% block content %}
<form action="/create_owner" method="post">
    <input type="text" name="first_name" value="" placeholder="First Name">
    <input type="text" name="last_name" value="" placeholder="Last Name">
    <input type="email" name="email_address" value="" placeholder="Email">
    <input type="password" name="password" value="" placeholder="password">
    <input type="password" name="confirm_password" value="" placeholder="confirm_password">
    <button type="submit" name="submit">Create Owner</button>
</form>


<!-- <form action="/contact" method="post">
    <input type="text" name="first_name" value="" placeholder="First Name">
    <input type="text" name="last_name" value="" placeholder="Last Name">
    <input type="email" name="email_address" value="" placeholder="Email">
    <select class="" name="role">
      <option value="owner">Owner</option>
      <option value="teacher">Teacher</option>
      <option value="student">Student</option>
    </select>
    <button type="submit" name="submit">Create Account</button>
</form> -->



{% endblock %}
