{% set attendance_values = [ {'Scheduled' : 'Scheduled'}, {'Attended' : 'Attended'}, {'SCWN' : 'Student Canceled W/ Notice'}, {'SCWON': 'Student Canceled W/O Notice'}, {'NS' : 'No Show' }, {'TC' : 'Teacher Canceled'}] %}


{% extends "base_private.html.twig" %}
{% block title %}Student{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>{{ student.getName  | e }}</h1>
        <hr>
    </div>
    <div class="row">
        <!-- NOTE Only Client or Owner can Assign student -->
        {% if (role == 'client' or role == 'owner') %}
            <div class="col-xs-12">
                {% include './components/sessions_list.html.twig' %}
            </div>
        {% endif %}


        <div class="col-md-6" id="teacher-info">
            <h3>Sessions:</h3>
            <hr>
            <h4>Assigned Teachers</h4>
            {% if teachers is not empty %}
                {% include './components/teachers_list.html.twig' %}
            {% endif %}
            <hr>
        </div>


        <div id="currentclass" class="col-md-6">
            <h3>Courses:</h3>
            <hr>
            {% include './components/enroll_course.html.twig' %}
            <hr>
        </div>

        <div class="col-md-6">
            {% if enrolled_courses is not empty %}
                {% include './components/course_enrollment_list.html.twig' %}
            {% endif %}
        </div>

        <!-- NOTE Only Client or Owner can add Notes -->
        {% if (role == 'client' or role == 'owner') %}
            <div class="col-md-6">
                <h3>Add Notes:</h3>
                <hr>
                {% include './components/add_note_student.html.twig' %}
            </div>
        {% endif %}


        <div id="currentclass" class="col-md-4">
            <h3>Notes:</h3>
            <hr>
            {% if notes_array is not empty %}
                {% include './components/note_history.html.twig' %}
            {% endif %}
        </div>

    </div>
    <script src="/../js/owner_student.js"></script>
    <script>
        $('.datepicker').datepicker(
          { dateFormat: "yy-mm-dd" }
        );

        $('#start_date').datepicker(
          { dataFormat: "yy-mm-dd" }
        );

        $('#create_start_time').combodate({
          customClass: 'form-control col-xs-6'
        });
        $('.update_start_time').combodate({
          customClass: 'form-control col-xs-6'
        });

    </script>
{% endblock %}
