{% extends "base_private.html.twig" %}
{% set attendance_values = [ {'Scheduled' : 'Scheduled'}, {'Attended' : 'Attended'}, {'SCWN' : 'Student Canceled W/ Notice'}, {'SCWON': 'Student Canceled W/O Notice'}, {'NS' : 'No Show' }, {'TC' : 'Teacher Canceled'}] %}

{% block title %}Teacher{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>{{ teacher.getName  | e }}</h1>
        <hr>
    </div>

    <div class="row">
        <!-- NOTE Only Teacher or Owner can Assign student -->
        {% if (role == 'teacher' or role == 'owner') %}
            <div class="col-xs-12">
                {% include './components/sessions_list.html.twig' %}
            </div>
        {% endif %}

        <div class="col-md-4">
            {% include './components/teacher_info.html.twig' %}
        </div>

        <!-- NOTE Only Teacher and Owner can Schedule Sessions -->
        {% if (role == 'teacher' or role == 'owner') %}
        <div class="col-md-6">
                <h4>Schedule Sessions</h4>
                {% include './components/create_sessions.html.twig' %}
        </div>
        {% endif %}

        <!-- NOTE Only Teacher or Owner can Assign student -->
        {% if (role == 'teacher' or role == 'owner') %}
            <div class="col-md-4">
                {% include './components/student_info.html.twig' %}
                {% include './components/assign_student.html.twig' %}
            </div>
        {% endif %}


        <!-- NOTE Only Teacher or Owner can add Notes -->
        {% if (role == 'teacher' or role == 'owner') %}
            <div class="col-md-4">
                {% include './components/add_note_teacher.html.twig' %}
            </div>
        {% endif %}
    </div>
    <hr>
    {% if notes_array is not empty %}
        {% include './components/note_history.html.twig' %}
    {% endif %}
{% endblock %}
