{% extends "base_private.html.twig" %}

{% block title %}Course{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1>{{ course.getTitle | e  }} </h1>
</div>
<div class="row">
    <div class="col-sm-4">
        {% if lessons is not empty %}
            {% include './components/lessons_list.html.twig' %}
        {% endif %}
    </div>
    <div class="col-sm-4">
        {% include './components/create_lesson.html.twig' %}
    </div>

  <div class="col-sm-4">
      <label>Enroll Students</label>
        {% include './components/enroll_student.html.twig' %}
      {% if students is not empty %}
        {% include './components/students_list.html.twig' %}
      {% endif %}
  </div>
</div>
{% endblock %}
