{% extends "base_private.html.twig" %}
{% set pageTitle = "Home" %}
{% block title %}Home{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            {% include './components/teachers_summary.html.twig' %}
        </div>

        {% if (role == "owner" or role == "teacher") %}
        <div class="col-md-3">
            {% include './components/students_summary.html.twig' %}
        </div>
        {% endif %}


        <div class="col-md-3">
            {% include './components/services_summary.html.twig' %}
        </div>

        <div class="col-md-3">
            {% include './components/courses_summary.html.twig' %}
        </div>
    </div>
{% endblock %}
