{% extends "base_private.html.twig" %}

{% block title %}Students{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>Students</h1>
        <hr>
    </div>

    <div class="row" id="alignstudents">
        <!-- show students list -->
        {% if students is not empty %}
            <div id="currentstudentsbox" class="col-md-4">
                <h3 >Current Students</h3>
                {% include './components/students_list.html.twig' %}
            </div>
        {% endif %}
    </div>
{% endblock %}
