{% extends "base_private.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
{% if role == "owner" %}
    hello
{% endif %}
    <div class="jumbotron">
        <h1>Home</h1>
        <hr>
    </div>
    <div class="row">
        <div class="col-md-3">
            {% include './components/teachers_summary.html.twig' %}
        </div>

        <div class="col-md-3">
            {% include './components/teachers_summary.html.twig' %}
        </div>

        <div class="col-md-3">
            {% include './components/services_summary.html.twig' %}
        </div>

        <div class="col-md-3">
            {% include './components/courses_summary.html.twig' %}
        </div>

        <div class="col-xs-12">
          <a href="/logout">Logout</a>
        </div>
    </div>
{% endblock %}
