{% extends "base_private.html.twig" %}

{% block title %}Account{% endblock %}

{% block content %}

<div class="jumbotron green">
    <h1>{{account.getFamilyName | e}}</h1>
    <hr>
</div>

<div class="row">
    <div class="col-md-4">
        {% include './components/account_info.html.twig' %}
        {% include './components/add_student.html.twig' %}
    </div>
    <div class="col-md-4">
        <h3>Students in this Account</h3>
        <hr>
        {% include './components/students_list.html.twig' %}
        {% include './components/add_note_client.html.twig' %}
    </div>


    <div class="col-md-4">
        <h3>Services Last Month</h3>
        {% if students is not empty %}
            {% include './components/students_service_list.html.twig' %}
        {% endif %}
    </div>
</div>

<div class="col-md-6">
    {% include './components/note_history.html.twig' %}
</div>
{% endblock %}
