{% extends "base_private.html.twig" %}

{% block title %}CRM Music School{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>Courses</h1>
        <hr>
    </div>

    <div class="row">

        <!-- NOTE Only Teacher or Owner can add new course -->
        {% if (role == 'teacher' or role =='owner') %}
            <div class="col-md-6">
                {% include './components/add_course.html.twig' %}
            </div>
        {% endif %}
        
        {% if courses is not empty %}
            <div class="col-md-4" id="courses-table">
                {% include './components/courses_list.html.twig' %}
            </div>
        {% endif %}
    </div>
{% endblock %}
