{% extends "base_private.html.twig" %}

{% block title %}Teachers{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>Teachers</h1>
        <hr>
    </div>
    <div class="row">
        <div class="col-md-6">
          <!--ONLY: OWNER add teacher form -->
          {% include './components/add_teacher.html.twig' %}
        </div>
        <div class="col-md-6">
          <!-- show teachers list -->
            {% if teachers is not empty %}
                <div id="teachersalign"class="col-md-6">
                    <h3>Current Teachers</h3>
                    {% include './components/teachers_list.html.twig' %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
