{% extends "base_private.html.twig" %}

{% block title %}Teacher{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>{{ teacher.getName  | e }}</h1>
        <hr>
    </div>

    <div class="row">
        <div class="col-md-4">
            {% include './components/teacher_info.html.twig' %}
        </div>

        <div class="col-md-4">
            {% include './components/student_info.html.twig' %}
            {% include './components/assign_student.html.twig' %}
        </div>

        <div class="col-md-4">
            {% include './components/add_note_teacher.html.twig' %}
        </div>
    </div>

    <hr>
    {% if notes_array is not empty %}
        {% include './components/note_history.html.twig' %}
    {% endif %}
{% endblock %}
