<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href='/css/styles.css' rel='stylesheet' type='text/css'>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/js/moment.min.js"></script>
    <script src="/js/combodate.js" type="text/javascript"></script>
    <title>Music School - {% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/main">HOME</a>
            </div>

            <ul class="nav navbar-nav">
                    <li><a href="/teachers">Teachers</a></li>
                    <li><a href="/courses">Courses</a></li>
                    {% if (role is defined and (role == "owner" or role== "teacher")) %}
                        <li><a href="/students">Students</a></li>
                    {% endif %}
                    {% if (role is defined and role == "owner") %}
                    <li><a href="/clients">Clients</a></li>
                    <li><a href="/create_user">Account Setting</a></li>
                    {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron">
        <h1>{{pageTitle}}</h1>
    </div>

    <!-- Display Success -->
    {% for success in app.session.flashbag.get('success') %}
        <div class="alert alert-success">{{ success }}</div>
    {% endfor %}


    <!-- Display Errors -->
    {% for error in app.session.flashbag.get('errors') %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>


    <script src="/../js/updatePayment.js"></script>
    <script>
        $('.datepicker').datepicker(
          { dateFormat: "yy-mm-dd" }
        );

        $('#start_date').datepicker(
          { dataFormat: "yy-mm-dd" }
        );

        $('#create_start_time').combodate({
          customClass: 'form-control col-xs-6'
        });
        $('.update_start_time').combodate({
          customClass: 'form-control col-xs-6'
        });
    </script>
</body>
</html>
