<form action="/courses" method="post">
    <label for="new_course">Add New Course</label>
    <div class="input-group">
        <input id="new_course" class="form-control" type="text" name="course_title" placeholder="type course name" required><br>
        <span class="input-group-btn">
          <button class="btn btn-info" type="submit">Submit</button><br>
        </span>
    </div>
</form>
