<form action="/courses" method="post">
    <div class="panel panel-info" id="add_course">
        <h3 for="course_title" class="panel-heading">Add New Course</h3><br>
        <div class="panel-body">
            <div class="form-group">
                <label for="new_course">Course Name</label>
            <input class="form-control" type="text" name="course_title" required><br>
            <button class="btn btn-info" type="submit">Submit</button><br>
            </div>
        </div>
    </div>
</form>
