<div>
    <h3>Add Notes:</h3>
    <hr>
    <form action="/client/{{ client.getId | e }}/add_note" method="post">
        <input name="_method" type="hidden" value="patch">
        <div class="form-group">
            <label class ="control-label" for="new_notes">Notes</label><br>
            <textarea class="form-control" name="new_notes" rows="10" cols="40"></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info btn-sm" name="button">Submit</button>
        </div>
    </form>
</div>
