<form action="/add_student_to_client" method="post">
    <div class="panel panel-info">
        <h3 class="panel-heading">Add New Student to Client</h3>
        <div class="panel-body">
            <div class="form-group">
                <label for="student_name">Name</label><br>
                <input class="form-control" type="text" name="student_name" required><br>
                <input type="hidden" name="client_id" value="{{client.getId | e}}">
                <button class="btn btn-info btn-md"type="submit">Submit</button><br>
            </div>
        </div>
    </div>
</form>
