<form  id="addteacher" action="/owner_teachers" method="post">
    <div class="panel panel-info">
        <h3  id="addnewteacher" class="panel-heading" >Add New Teacher</h3>
        <div class="panel-body">
            <div class="form-group">
                <label for="teacher_name">Name</label><br>
                <input class="form-control" type="text" name="teacher_name" required><br>
                <label for="teacher_instrument">Instrument</label><br>
                <input class="form-control" type="text" name="teacher_instrument" required><br>
                <button class="btn btn-info btn-sm" type="submit">Submit</button><br>
            </div>
        </div>
    </div>
</form>
