<form action="/add_student_to_client" method="post">
    <label for="new_student">Add New Student</label>
    <div class="input-group">
        <input id="new_student" class="form-control" type="text" name="student_name" placeholder="Student Name" required><br>
        <input type="hidden" name="client_id" value="{{client.getId | e}}">
        <span class="input-group-btn">
            <button class="btn btn-info" type="submit">Submit</button><br>
        </span>
    </div>
</form>
