<form  id="addclient" action="/owner_accounts" method="post">
    <div class="panel panel-info">
        <h4 class="panel-heading">Create New Account</h4>
        <div class="panel-body">
            <div class="form-group">
                <label  for="family_name">Family Name: </label>
                <input id="family_name" class="form-control" type="text" name="family_name">
                <label  for="parent_one_name">Parent/Guardian Name (primary): </label>
                <input id="parent_one_name" class="form-control" type="text" name="parent_one_name">
                <label  for="parent_two_name">Parent/Guardian Name (secondary): </label>
                <input id="parent_two_name" class="form-control" type="text" name="parent_two_name">
                <label  for="street_address">Street Address: </label>
                <input id="street_address" class="form-control" type="text" name="street_address">
                <label  for="phone_number">Phone Number: </label>
                <input id="phone_number" class="form-control" type="number" name="phone_number">
                <label  for="email_address">Email Address: </label>
                <input id="email_address" class="form-control" type="email" name="email_address">
                <input type="hidden" name="notes" value="First entry">
                <input type="hidden" name="billing_history" value="First entry">
                <input type="hidden" name="outstanding_balance" value="0">
            </div>
            <button class="btn btn-primary" type="submit">create new account</button>
        </div>
    </div>
</form>
