<form action="/teacher/{{ teacher.getId  | e }}/assign" method="post">
    <label for="student_id">Assign a student</label>
    {% if students is not empty %}
    <select id="student_id" class="form-control" name="student_id">
        {% for student in students %}
        <option value="{{student.getId | e }}">{{student.getName | e }}</option>
        {% endfor %}
    </select>
    <button type="submit" name="button">submit</button>
    {% endif %}
</form>
