<div>
    <form action="/teacher/{{ teacher.getId  | e }}/enroll" method="post">
        <label>Enroll in a Course</label>
        {% if all_courses is not empty %}
            <select class="form-control" name="course_id">
                {% for course in all_courses %}
                    <option value="{{course.getId | e }}">{{course.getTitle | e }}</option>
                {% endfor %}
            </select>
            <button type="submit" name="button">submit</button>
        {% endif %}
    </form>
</div>
