<form action="/clients/search" method="post">
    <label for="search_input">Search for Client</label>
    <div class="input-group">
        <input id="search_input" class="form-control" type="text" name="search_input" placeholder=" search something...">
        <span class="input-group-btn">
            <button type="submit" class="btn btn-info">Search</button>
        </span>
    </div>
</form>
