<form action="/owner_accounts/search" method="post">
    <div class="form-group">
        <label for="search_input">Search for Client</label>
        <input id="search_input" class="form-control" type="text" name="search_input" placeholder=" search something...">
        <button type="submit" class="btn btn-info">Search</button>
    </div>
</form>
