<div class="panel panel-info">
    <h2 class="panel-heading">Services</h2>
    {% if services is not empty %}
        <div class="panel-body">
            {{ "now"|date("M/Y") }}
            <h4 class="stats-numbers">Total: {{services|length | e }} </h4>
            <ul>
                {% for teacher in teachers %}
                    <li>{{ teacher.getName | e}} : {{ teacher.getServicesForMonth|length | e }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>
