<div class="panel panel-info">
    <h2 class="panel-heading" >Students</h2>
    {% if students is not empty %}
    <div class="panel-body">
        <h4 class="stats-numbers">Total: {{ students|length  | e }}</h4>
        <ul>
            {% for student in students %}
            <li><a href="owner_student/{{student.getId | e }}">{{student.getName | e }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
